/* General Gradients */	
.gDark {
	background-color: #1b1b1b;
}

.gLight {
	background: #414141; /* Old browsers */
	background: -moz-linear-gradient(top, #414141 0%, #303030 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #414141 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #414141 0%,#303030 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #414141 0%,#303030 100%); /* IE10+ */
	background: linear-gradient(to bottom, #414141 0%,#303030 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
}

.gGrey, input, select, textarea {
	background-color: #333333;
	color: #ffffff;
	border: none;
	border-radius: 6px;
	height: 27px;
}

.gWhite {
	background: #cfcfcf; /* Old browsers */
	background: -moz-linear-gradient(top, #cfcfcf 0%, #ffffff 50%, #cfcfcf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(50%,#ffffff), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cfcfcf 0%,#ffffff 50%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cfcfcf 0%,#ffffff 50%,#cfcfcf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cfcfcf 0%,#ffffff 50%,#cfcfcf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cfcfcf 0%,#ffffff 50%,#cfcfcf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
}
